
/* #matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999; 
    background: var(--body-bg); 
    pointer-events: none;
  } */

  #tesseract-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* bring to the front, just to test */
    background: rgba(255,0,0,0.2); /* red-ish overlay for debugging */
  }
  
  